/* font */
@import url("//cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@1.530/neodgm/style.css");

/* reset */
@import "reset.css";
@import "variables.css";
@import "no-mobile.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/point.css";
@import "components/icon-row.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

* {
  font-family: "NeoDunggeunmo";
}

body {
  color: var(--font-color);
  background-color: var(--background-color);
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
