.more-screen .icon-row {
  margin-top: 30px;
}

.more-suggestions {
  justify-content: space-between;
  margin-top: 30px;
  border-top: var(--main-border);
  padding-top: 30px;
}

.more-suggestions__icons {
  display: flex;
  align-items: center;
}

.more-suggestions__icon__left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 40px;
}
.weather-city span {
  font-size: 20px;
}
.weather-temp span {
  font-size: 50px;
}
.weather-main span {
  font-size: 20px;
}
.more-suggestions__icon__right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
