.icon-row {
  display: flex;
  flex-wrap: wrap;

  /* justify-content: space-between; */
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  transition: color 0.3s ease-in-out;
  color: var(--icon-color);
}

.icon-row__icon:hover {
  cursor: pointer;
  color: var(--font-color);
  transform: translateY(-5px) scale(1.1);
}
.icon-row__icon i {
  font-size: 35px;
}

.icon-row__icon span {
  margin-top: 18px;
  font-size: 13px;
  text-align: center;
}
