.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.status-bar__column > span {
  font-size: 18px;
  margin: 0px 2px;
}

.mode {
  margin-left: -5px;
  color: var(--font-color);
}
