.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
  object-fit: cover;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__title--not-bold {
  font-weight: 400;
}
.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}

.close {
  display: none;
}
.closeBtn {
  transform: rotateX(180deg);
}

.state-music {
  display: flex;
  padding: 5px;
  border: 3px solid green;
  border-radius: 10px;
  font-size: 14px;
}

.state-music > p {
  margin-right: 10px;
}

.state-message {
  font-size: 14px;
}

.friends-profile {
  margin-bottom: 10px;
}

.wallet {
  background-color: rgb(254, 229, 0);
  padding: 20px 0;
}

.wallet-section {
  padding: 10px var(--horizontal-space);
  justify-content: space-between;
}

.wallet-section:first-child {
  margin-bottom: 30px;
}
.wallet-section,
.wallet-section__left,
.wallet-section__right {
  display: flex;
  align-items: center;
}

.fa-qrcode,
.fa-shopping-cart,
.fa-comment {
  padding-right: 10px;
}
.line {
  padding-right: 10px;
  border-right: 2px solid rgba(0, 0, 0, 0.3);
}
.block {
  display: block;
  padding-left: 10px;
}

#main-title {
  font-size: 25px;
  margin-right: 10px;
}
